.ri-home-8-line{
	font-size:20px;
	color: skyblue;
}

.ri-mail-line{
	font-size:20px;
	color:brown;
}

.ri-share-forward-box-fill{
	font-size:20px;
	color:skyblue;
}

.ri-calendar-todo-line{
	font-size:20px;
	color:orange;
}

.ri-message-2-line{
	font-size:20px;
	color:blue;
}

.ri-bar-chart-grouped-line{
	font-size:20px;
	color:blue;
}

.ri-edit-line{
	font-size:20px;
	color:skyblue;
}

.ri-palette-line{
	font-size:20px;
	color:red;
}

.ri-table-line{
	font-size:20px;
	color:yellow;
}

.ri-map-2-line{
	font-size:20px;
	color:purple;
}

.ri-file-chart-line{
	font-size:20px;
	color:red;
}

.ri-stairs-line{
	font-size:20px;
	color:green;
}

.icon{
	font-size:30px;
	color:green;
}