
.box{
	background-color:pink;
	width:300px;
	height:300px;
	margin:40px;
	padding:40px;
	box-sizing:border-box;
	border-style:dashed;
	border-width: 20px;
	border-color:black;
	text-align:center;
}

.box2{
	background-color:yellow;
	width:200px;
	height:200px;
	margin:40px 80px;
	padding:40px 60px 40px 60px;
}
.box3{
	background-color:pink;
	width:300px;
	height:300px;
	box-sizing:border-box;
	border-style:double;
	border-width: 10px;
	border-color:red;
	text-align:center;
}